// Copyright 2022 Sean Kelleher. All rights reserved.
// Use of this source code is governed by an MIT
// licence that can be found in the LICENCE file.

@import "site";
@import "code_editor";

.dock-prompt {
  --dock-prompt-colour: #48b685;
}

body {
  background-image: url("/src/img/waves.png");
  background-size: 8.0rem;
}

header {
  display: flex;
  position: absolute;
  height: 5.0rem;
  // We remove 10.0rem for the `padding` on either side and 0.5rem for the
  // `outline` on either side.
  width: calc(100% - 12.0rem);
  top: 0;
  background-color: var(--primary-colour);
  border: white 0.5rem solid;
  border-bottom-left-radius: 5.0rem;
  border-bottom-right-radius: 5.0rem;
  border-top: 0;
  box-shadow: 0 2.0rem 5.0rem 0.0rem #00000080;
  justify-content: center;
  min-width: 8.0rem;
  outline: var(--primary-colour) 0.5rem solid;
  padding: 1.5rem 5.0rem;
  margin: 0 0.5rem;
  z-index: 1;

  @media @phone {
    // We remove an extra 10.0rem compared to above to account for the 10.0rem
    // of `margin` on either side.
    width: calc(100% - 21.0rem);
    margin: 0 5.0rem;
  }

  h1 {
    display: flex;
    height: 100%;
  }

  a img {
    height: 90%;
    margin: 5.0% 1.0rem;
  }
}

.hero {
  display: flex;
  height: 100vh;
  background-image: linear-gradient(#ffffff00 50%, #ffffffff);
  min-height: 520px;
  padding: 0;
}

.hero .container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.code-editor {
  z-index: 1;

  .dock-prompt {
    color: var(--dock-prompt-colour);
  }

  strong {
    color: #f8c949;
  }

  .stdout {
    opacity: 0.7;
  }
}

.logo-tag {
  position: absolute;
  bottom: -5.0rem;
  right: 0;
  height: 8.0rem;

  @media @phone {
    right: -2.0rem;
  }

  @media @phablet {
    bottom: -2.0rem;
  }
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.0rem;
  font-weight: 400;
  margin-bottom: 1.0rem;
  margin-left: 2.0rem;
}

section + section {
  position: relative;
  background-color: white;
  padding-top: 4.0rem;
  padding-bottom: 11.0rem;
}

section + section + section::after {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 7.0rem;
  background-image: url("/src/img/waves_inverted_white.png");
  background-size: 4.0rem;
  content: "";
}

section + section .code-editor {
  margin-bottom: 5.0rem;
}

.installation {
  padding-top: 0;
}

ol h3 {
  display: inline;
  margin-left: 0;
}

li {
  list-style-type: none;
  margin-top: 3.0rem;
}

.getting-started {
  background-color: white;

  h2 {
    text-align: center;
  }

  h2 img {
    width: 80%;
    min-width: 20.0rem;
  }

  h3 {
    font-size: 1.8rem;
  }

  p {
    font-size: 1.4rem;
    margin-top: 0.5rem;
  }

  .container {
    background-color: #9de3e4;
    border-radius: 5.0rem;
    margin-bottom: 2.0rem;
    margin-top: 2.0rem;
    padding: 5.0rem 2.0rem;
  }

  .code-editor {
    margin-top: 2.0rem;
    width: calc(100% - 2.0rem);
  }

  .instructions {
    z-index: 2;
  }

  li {
    margin-top: 1.5rem;
  }

  li + li + li .code-editor {
    margin-bottom: 0;
  }

  @media @phone {
    h2 img {
      width: auto;
      height: 5.0rem;
    }

    .code-editor {
      margin-top: 2.0rem;
      width: 105%;
    }
  }

  @media @phablet {
    h2 img {
      height: 7.0rem;
    }

    .code-editor {
      margin-top: 2.0rem;
      width: 110%;
    }
  }

  @media @desktop {
    background-color: white;

    h2 {
      text-align: inherit;
    }

    .container {
      position: relative;
      margin-top: 8.0rem;
      padding: 5.0rem;
    }

    .code-editor {
      position: absolute;
      width: 40%;
      top: 3.0rem;
      right: 2.0rem;
      background-color: black;
      margin-bottom: 0;
      opacity: 0.5;

      pre {
        visibility: hidden;
      }
    }

    li {
      cursor: pointer;
    }

    .instructions {
      position: relative;
      width: 45%;
      border-radius: 0.5rem;
      padding: 1.0rem;
      box-shadow: 0 1.0rem 2.0rem 0.0rem #00000020;
    }

    .highlighted {
      .instructions {
        box-shadow: 0 2.0rem 5.0rem 0.0rem #00000080;
        transition: box-shadow 0.3s ease-in-out;
      }

      .code-editor {
        opacity: 1;
        z-index: 2;

        pre {
          visibility: visible;
        }
      }
    }

    li + li .code-editor {
      top: 7.0rem;
      right: 6.0rem;
    }

    li + li + li .code-editor {
      top: 11.0rem;
      right: -4.0rem;
    }
  }
}

.installation,
.features,
.benefits,
.best-practices,
.alternatives {
  h2 img {
    width: 60%;
    min-width: 20.0rem;
    max-height: 5.0rem;
  }

  @media @phone {
    h2 img {
      width: inherit;
    }
  }
}

.installation {
  .instructions {
    margin-bottom: 2.0rem;
  }

  .env-var {
    font-size: 1.3rem;
  }

  h3 {
    display: inline-block;
    position: absolute;
    cursor: pointer;
    z-index: 1;
  }

  h3::after {
    display: block;
    border-radius: 0.5rem;
    width: 100%;
    height: 0.5rem;
    content: "";
  }

  .instructions p,
  .code-editor {
    visibility: hidden;
  }

  .highlighted {
    h3::after {
      background-color: #64d5d6;
    }

    .instructions p,
    .code-editor {
      visibility: visible;
    }
  }

  @media @tablet {
    ul {
      position: relative;
      // TODO This is a hack to ensure that the code editor doesn't overflow the
      // `ul`, but should be replaced with a more robust solution when time
      // allows.
      height: 40.0rem;
    }

    li + li h3 {
      left: 10.0rem;
    }

    .instructions {
      position: absolute;
      width: 40%;
    }

    p {
      margin-top: 4.5rem;
    }

    .code-editor {
      position: absolute;
      top: 0;
      right: calc(var(--container-margin-width) * -1);
      width: calc(55% + var(--container-margin-width));
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  @media @desktop {
    .env-var {
      font-size: 1.5rem;
    }
  }
}

a {
  color: var(--primary-text-colour);
}

a:hover {
  color: var(--light-text-colour);
}

.features,
.benefits,
.best-practices,
.alternatives {
  p code {
    font-size: 1.3rem;
    margin: 0;
    padding: 0.1rem 0.3rem;
  }

  li {
    background-image: url("/src/img/hexagon_light.svg");
    background-position: 0.7rem 0;
    background-repeat: no-repeat;
    background-size: 4.0rem;
    float: left;

    h3 {
      padding-top: 0.4rem;
    }

    a h3 {
      padding-top: 0.3rem;
    }
  }

  @media @phablet {
    li {
      width: 48%;
      margin-left: 4%;
      overflow: hidden;
    }

    li:nth-child(odd) {
      clear: both;
      margin-left: 0;
    }
  }
}

.best-practices,
.alternatives {
  .container div {
    margin-bottom: 0;
    margin-top: 2.0rem;
  }

  p {
    margin-top: 2.0rem;
  }
}

p.quote:before {
  color: #aaaaaa;
  content: "“";
  float: left;
  font-family: "Times New Roman", Times, serif;
  font-size: 8.0rem;
  line-height: 5.0rem;
  padding: 0 1.5rem;
}

p.quote {
  color: #666666;
  font-size: 2.0rem;
  margin: 3.0rem 2.0rem;
}

footer {
  background-color: white;
  padding: 2.0rem 0;

  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  a {
    margin: 0 0.5rem;
  }

  p + p {
    margin-top: 1.0rem;
  }
}
